html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}


body {
    min-width: 320px;
    min-height: 100vh;

    padding-top: 50px;
    font-family: Inter, sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
}

[data-tooltip] {
    position: relative; /* Относительное позиционирование */ 
   }
[data-tooltip]::after {
    content: attr(data-tooltip); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    max-width: 500px; /* Ширина подсказки */
    left: 0; top: 0; /* Положение подсказки */
    font-size: 16px;
    border-radius: 10px;
    background: rgba(0, 35, 66, .4); /* Синий цвет фона */
    color: var(--color-text); /* Цвет текста */
    padding: 0.5em; /* Поля вокруг текста */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
    pointer-events: none; /* Подсказка */
    opacity: 0; /* Подсказка невидима */
    transition: .4s; /* Время появления подсказки */
   } 
[data-tooltip]:hover::after {
    opacity: 1; /* Показываем подсказку */
    top: -290px; /* Положение подсказки */
   }

img {
    max-width: 100%;
    height: auto;
}

h1, h2, p, ul {
    margin: 0;
}

button {
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.2s;
}

a:hover {
    color: var(--color-primary);
}

input[type="search" i]::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

.container {
    max-width: 1650px;
    margin: 0 auto;
    padding: 0 30px;
}

@media (max-width: 768px) {
    body {
        padding-top: 30px;
    }
    [data-tooltip]:hover::after {
        font-size: 6px;
    }
}
@media (max-width: 480px) {
    body {
        padding-top: 15px;
    }

    .container {
        padding: 0 15px;
    }

    
}